<div class="min-h-screen bg-gray-100 flex flex-col items-center">
  <div class="w-full h-1/4 bg-cover bg-center relative" style="background-image: url('../../../assets/2nd-bg-img.png');">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent via-white/70 to-white"></div>
  </div>

  <div class="w-full max-w-md mx-auto -mt-15 px-6">
    <h1 class="text-4xl font-bold text-gray-800 text-center mb-2" style="font-family: 'lora';">Welcome back to</h1>
    <div class="flex justify-center">
      <img src="../../../assets/plantdito-logo-green.png" alt="PlantDito Logo" class="h-20">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-6">
      <div>
        <label for="email" class="block text-gray-700 font-medium" style="font-family: 'lora';">Username/Email</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="w-full mt-2 px-4 py-2 text-black bg-white border border-black rounded-full focus:outline-none focus:ring-2 focus:ring-green-500"
        />
      </div>
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
      class="mt-1 text-sm text-red-600">
   Email is required
 </div>
 <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']"
      class="mt-1 text-sm text-red-600">
   Please enter a valid email
 </div>
      <div>
        <label for="password" class="block text-gray-700 font-medium flex justify-between" style="font-family: 'lora';">
          Password
          <a href="#" class="text-[#86ba43] hover:text-[#86ba43] text-sm">Forgot Password?</a>
        </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="w-full mt-2 px-4 py-2 text-black bg-white border border-black rounded-full focus:outline-none focus:ring-2 focus:ring-green-500"
        />
      </div>
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
      class="mt-1 text-sm text-red-600">
   Password is required
 </div>
      <button
        type="submit"
        class="w-full bg-green-800 text-white py-3 rounded-full text-lg hover:bg-green-900 focus:ring-2 focus:ring-green-500 mt-6" style="font-family: 'lora';"
      >
        Log In
      </button>
    </form>

    <div class="mt-6 text-center">
      <span class="text-gray-700">Don't have an account?</span>
      <a [routerLink]="['/signup']" class="text-[#86ba43] hover:text-[#86ba43] font-semibold">Sign up</a>
    </div>
  </div>
</div>
